#root {
    -fx-background-color: white;
}

#vBox {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.text-field {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #050e05;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#errorMessage {
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

/* Styling for ListView and ListCells */
.list-cell {
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.list-cell:odd {
    -fx-background-color: #050e05;
}

.list-cell:even {
    -fx-background-color: #5d5c5c;
}

.list-view {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}

.list-cell .text {
    -fx-fill: white;
}

#backSignup, #discard, #keep, #usersBack {
    -fx-cursor: hand;
    -fx-background-color: #dbe5db;
    -fx-background-radius: 5px;
    -fx-text-fill: #020202;
    -fx-font-size: 16px;
}

.vBox > .title {
    -fx-alignment: center;
    -fx-text-alignment: center !important;
}

#title {
    -fx-alignment: center;
    -fx-text-alignment: center;
}


.list-cell .list-image-view {
    -fx-background-radius: 50%;
    -fx-shape: "M 50,0 A 50,50 0 0 1 100,50 A 50,50 0 0 1 50,100 A 50,50 0 0 1 0,50 A 50,50 0 0 1 50,0 Z";
}






